@import "variable";
@import "mixin";

.block-system-main-block {
  article[data-history-node-id="5"] {
    max-width: $desktop;
    margin: 0 auto;
      .node__content {
        .layout-- {
          &onecol {
            .block-field-block{
              &nodepagetitle{
                span{
                  @include textFormat($font_page_title, bold, black);
                  @include titleBlock(50px, 20px, $desktop, 63px, $gray);
                }
              }
            &nodepagebody {
              @include textFormat($font_page_title, 400, $titleColor);
            }
            }
          }
        }

    }
  }
}

@media (max-width: $desktop) {
  .block-system-main-block {
    article[data-history-node-id="5"] {
      width: $smallDesktop;
      .node__content {
        .layout-- {
          &onecol {
            .block-field-block{
              &nodepagetitle{
                span{
                  @include textFormat($font_page_title, bold, black);
                  @include titleBlock(50px, 20px, $smallDesktop, 63px, $gray);
                }
              }
              &nodepagebody {
                @include textFormat(20px, 400, $titleColor);
              }
            }
          }
        }

      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .block-system-main-block {
    article[data-history-node-id="5"] {
      width: $table;
      .node__content {
        .layout-- {
          &onecol {
            .block-field-block{
              &nodepagetitle{
                span{
                  @include textFormat(28, bold, black);
                  @include titleBlock(40px, 20px, $table, 63px, $gray);
                }
              }
              &nodepagebody {
                @include textFormat(18px, 400, $titleColor);
              }
            }
          }
        }

      }
    }
  }
}

@media (max-width: $table) {
  .block-system-main-block {
    article[data-history-node-id="5"] {
      width: $phone;
      .node__content {
        .layout-- {
          &onecol {
            .block-field-block{
              &nodepagetitle{
                span{
                  @include textFormat(24, bold, black);
                  @include titleBlock(30px, 20px, $phone, 63px, $gray);
                }
              }
              &nodepagebody {
                @include textFormat(16px, 400, $titleColor);
              }
            }
          }
        }

      }
    }
  }
}
