@import "variable";
@import "mixin";

.block-views-block {
  &clients-block-block-1, &clients-block-block-2 {
    h2 {
      @include textFormat(28px, bold, $footerColor);
      @include titleBlock(75px, 20px, $desktop, 80px, $gray);
    }
    margin-bottom: 120px;
  }
  &clients-block-block-2{
    .view-content{
      .views-row{
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
      }
    }
      .pager{
        margin-top: 30px;
      }
    margin-bottom: 0;
  }
}

@media (max-width: $desktop) {
  .block-views-block {
    &clients-block-block-1, &clients-block-block-2 {
      h2 {
        margin-bottom: 40px;
        &:before, &:after {
          width: calc(($smallDesktop / 2) - 80px);
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .block-views-block {
    &clients-block-block-1, &clients-block-block-2 {
      h2 {
        margin-bottom: 40px;
        &:before, &:after {
          width: calc(($table / 2) - 80px);
        }
      }
      .view-content{
        img{
          width:100px;
          height: auto;
        }
      }
    }
    &clients-block-block-2{
      .view-content{
        img{
          width:100px;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: $table) {
  .block-views-block {
    &clients-block-block-1, &clients-block-block-2 {
      h2 {
        margin-bottom: 20px;
        &:before, &:after {
          width: calc(($phone / 2) - 72px);
        }
      }
      .view-content{
        img{
          width:70px;
          height: auto;
        }
      }
    }
    &clients-block-block-2{
      .view-content{
        img{
          width:80px;
          height: auto;
        }
      }
    }
  }
}
