@import "variable";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin-top: 0;
}

// taxonomy term color
a {
  &[href="/services/web-development-0"] {
    color: $color_web;
  }

  &[href="/services/php-development-0"] {
    color: $color_php;
  }

  &[href="/services/app-development-0"] {
    color: $color_app;
  }

  &[href="/services/drupal-development-0"] {
    color: $color_drupal;
  }

  text-decoration: none;
}

.dialog-off-canvas-main-canvas {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

// like style
.form-item.js-form-item.form-type-radio.js-form-type-radio {
  label {
    &.rate-voted {
      color: red;

      &:before {
        font-family: FontAwesome;
        content: "\f004";
      }
    }

    color: $gray;

    &:before {
      font-family: FontAwesome;
      content: "\f08a";
    }

    &:hover {
      color: red;
      cursor: pointer;

      &:before {
        font-family: FontAwesome;
        content: "\f004";
      }
    }
  }

  .rating-option-result {
    display: none;
  }
}


.grid-view-2-col {
  .view-content {
    .field--name-title {
      text-align: center;
    }

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
