@import "variable";
@import "mixin";

footer {
  margin-top: 20px;
  background-color: $footerColor;

  .region-footer {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1280px;

    .layout--twocol-section {
      height: 196px;
      align-items: center;

      .layout__region {
        &--first {
          p {
            margin-bottom: 0;
          }

          .field--name-field-title {
            a {
              @include textFormat(32px, 500, $titleColor);
            }
          }

          .field--name-body {
            @include textFormat(14px, 400, white);
            height: max-content;
          }
        }

        &--second {
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: $desktop) {
  footer {
    .region-footer {
      padding: 10px;
      width: $smallDesktop;
    }
  }
}

@media (max-width: $smallDesktop) {
  footer {
    .region-footer {
      padding: 10px;
      width: $table;

      .layout--twocol-section {
        height: 100px;
      }
    }
  }
}

@media (max-width: $table) {
  footer {
    .region-footer {
      padding: 10px;
      width: $phone;

      .layout--twocol-section {
        height: 100px;

        .layout__region {
          &--first {
            p {
              margin-bottom: 0;
            }

            .field--name-field-title {
              a {
                @include textFormat(22px, 500, $titleColor);
              }
            }

            .field--name-body {
              @include textFormat(10px, 400, white);
              height: max-content;
            }
          }
        }
      }
    }
  }
}
