@import "variable";
@import "mixin";


.view-content {
  margin: 0 auto;
  width: $desktop;
}

body{
  margin-left: 66px;
}

.social-media-links--platforms {
  li {
    a {
      color: $titleColor;

      &:hover {
        color: #0a6eb4;
      }

      span {
        font-size: 27px;
      }
    }
  }
}

.views-field {
  &-view-node {
    @include centerElem;
    font-size: 14px;

    .field-content {
      margin: 0 auto;
      background-color: $titleColor;
      padding: 8px 10px;

      a {
        color: white;
      }
      &:hover{
        background-color: $color_drupal;
      }
    }
  }
}

.pager {
  margin: 50px 0;
  ul {
    li {
      font-size: 14px;

      &.is-active {
        background-color: $gray;
        border-radius: 50px;
        padding: 8px 12px;
      }

      a {
        color: $footerColor;
      }
    }
  }
}

.block-views-block {
  &services-block-block-2, &projects-block-block-2, &our-team-block-block-2,
  &news-block-block-2, &clients-block-block-2 {
    margin-top: 15px;
  }
}


@media (max-width: $desktop) {
  .views-field-title {
    font-size: 14px;
  }

  .view-content {
    width: $smallDesktop;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 22px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      @include centerElem;

      .field-content {
        width: max-content;
        margin: 0 auto;
        background-color: $titleColor;
        padding: 8px 10px;

        a {
          font-size: 12px;
          color: white;
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {

  .layout--twocol-section {
    & > .layout__region {
      flex: 0 0 50%;
    }
  }
  .views-field-title {
    font-size: 12px;
  }

  .view-content {
    width: $table;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 18px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      .field-content {
        a {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: $table) {

  .layout--twocol-section {
    & > .layout__region {
      flex: 0 0 50%;
    }
  }
  .views-field-title {
    font-size: 12px;
  }

  .view-content {
    width: $phone;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 18px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      .field-content {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
