@import "variable";

.page {
  margin: 0 auto;
  width: $desktop;
}

.social-media-links--platforms{
  li{
    a{
      color: $titleColor;
      &:hover{
        color: #0a6eb4;
      }
      span{
        font-size: 27px;
      }
    }
  }
}
