@import "variable";
@import "mixin";


.view-content {
  margin: 0 auto;
  width: $desktop;
}
// social link style
.social-media-links--platforms {
  li {
    a {
      color: $titleColor;

      &:hover {
        color: #0a6eb4;
      }

      span {
        font-size: 27px;
      }
    }
  }
}
// link to content button style
.views-field {
  &-view-node {
    @include centerElem;
    font-size: 14px;

    .field-content {
      margin: 0 auto;
      background-color: $titleColor;
      padding: 8px 10px;

      a {
        color: white;
      }
      &:hover{
        background-color: $color_drupal;
      }
    }
  }
}
// pager style
.pager {
  margin: 50px 0;
  ul {
    li {
      font-size: 14px;

      &.is-active {
        background-color: $gray;
        border-radius: 50px;
        padding: 8px 12px;
      }

      a {
        color: $footerColor;
      }
    }
  }
}

.block-views-block {
  &services-block-block-2, &projects-block-block-2, &our-team-block-block-2,
  &news-block-block-2, &clients-block-block-2 {
    margin-top: 15px;
  }
}

// taxonomy term page
.view-taxonomy-term{
  .view-header{
    @include textFormat(28px, bold, $footerColor);
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    display: inline-block;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background-color: $gray;
      display: block;
      bottom: 0;
    }
  }
  .view-content{
    margin-bottom: 75px;
  }
}


@media (max-width: $desktop) {
  .views-field-title {
    font-size: 14px;
  }

  .view-content {
    width: $smallDesktop;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 22px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      @include centerElem;

      .field-content {
        width: max-content;
        margin: 0 auto;
        background-color: $titleColor;
        padding: 8px 10px;

        a {
          font-size: 12px;
          color: white;
        }
      }
    }
  }

  .view-taxonomy-term{
    .view-header{
      @include textFormat(24px, bold, $footerColor);
    }
  }
}

@media (max-width: $smallDesktop) {

  .layout--twocol-section {
    & > .layout__region {
      flex: 0 0 50%;
    }
  }
  .views-field-title {
    font-size: 12px;
  }

  .view-content {
    width: $table;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 18px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      .field-content {
        a {
          font-size: 10px;
        }
      }
    }
  }

  .view-taxonomy-term{
    .view-header{
      @include textFormat(24px, bold, $footerColor);
    }
  }
}

@media (max-width: $table) {

  .layout--twocol-section {
    & > .layout__region {
      flex: 0 0 50%;
    }
  }
  .views-field-title {
    font-size: 12px;
  }

  .view-content {
    width: $phone;
  }

  .social-media-links--platforms {
    li {
      a {
        span {
          font-size: 18px;
        }
      }
    }
  }

  .views-field {
    &-view-node {
      .field-content {
        a {
          font-size: 10px;
        }
      }
    }
  }
  .view-taxonomy-term{
    .view-header{
      @include textFormat(20px, bold, $footerColor);
    }
  }
}
