@import "variable";

.path-frontpage{
  header{
    #block-exam-theme-menunavigation{
      position: absolute;
      top: 109px;
      width: 100%;
      z-index: 300;
    }
  }
}

header {
  p{
    margin-bottom: 0;
  }
    #block-exam-theme-menunavigation{
      width: 100%;
    }
  .layout--onecol{
    background-color: $white;
    margin: 0 auto;
    width: $desktop;
    .layout__region--content {
      height: 109px;
      .layout--onecol{
        width: auto;
      }
      ul {
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
      }
      //===Name compane====
      .block-inline-blocktitle-block{
        background-color: $footerColor;
        width: 234px;
        color: $white;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        height: 109px;
        & > div{
          font-size: 12px;
          width: 100%;
          height: max-content;
        }
        div:first-child{
          color: $titleColor;
          font-weight: 500;
          font-size: 26px;
          margin-top: auto;
        }
        & > div:after{
          content: none;
        }
      }
      //=== Menu ====
      .menu--main{
        width: max-content;
        .layout--onecol{
          height: auto;
        }
        ul{
          text-transform: uppercase;
          li:first-child{
            align-items: center;
            a{
              position: absolute;
              font-size: 20px;
              opacity: 0;
              width: 28px;
              z-index: 100;
              letter-spacing: -10px;
            }
            img{
              position: relative;
              z-index: 50;
              width: 28px;
              margin-top: -20px;
              height: auto;
              cursor: pointer;
            }

            &:hover{
              a{
                margin-top: 14px;
              }
              .layout--onecol{
                margin-top: 7px;
              }
            }

            .layout__region--content{
              height: auto;
              & > div {
                height: auto;
              }
            }
          }
          li{
            margin: 0 10px;
            display: flex;
            align-items: center;
            a{
              font-size: 14px;
              color: black;
            }
            height: 109px;
            .menu-link-contentmain{
              height: 0;
              .layout--onecol{
                height: 0 ;
                .layout__region--content{
                  margin: 0;
                }
              }
            }
            &:hover{
              a{
                margin-top: 14px;
              }
              border-bottom: 14px solid $titleColor;
            }
          }
        }
      }
      //=== Social link ===
      .social-media-links--platforms{
        width: 133px;
        justify-content: center;
      }
      //=== Search field ===
      .search-block-form{
        margin-right: 25px;
        input{
          &[type="search"]{
            box-sizing: border-box;
          }
          &.form-search{
            border: 1px solid gray;
            width: 169px;
            height: 38px;
          }

        }
        input{
          &.form-submit{
            width: 38px;
            height: 38px;
            text-indent: -9999px;
            border: 1px solid gray;
            background-color: white;
            background-image: url("dandruff.png");
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -6px;
          }
        }

      }

      align-items: center;
      justify-content: space-between;
      display: flex;
    }
  }
}
