@import "variable";
@import "mixin";

.block-views-block {
  &projects-block-block-1 {
    .view-projects-block {
      background: repeating-linear-gradient(-45deg, #fff, #fff, 9px, #D5D5D5 10px, #D5D5D5 1px);
      padding-top: 80px;

      .view-content {
        align-items: center;
        .views-row{
          border-bottom: 1px solid $footerColor;
        }
      }

      padding-bottom: 140px;
      @media (max-width: $desktop)
      {
        padding-bottom: 50px;
      }
    }
  }
  &news-block-block-1{
    .view-news-block {
      background: repeating-linear-gradient(-45deg, #fff, #fff, 9px, #D5D5D5 10px, #D5D5D5 1px);
      width: 100%;
    }
  }
}

