.block-system-main-block article[data-history-node-id="5"] {
  max-width: 1220px;
  margin: 0 auto;
}
.block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  position: relative;
  margin-bottom: 50px;
}
.block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before, .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
  content: "";
  position: relative;
  top: 50%;
  width: 547px;
  height: 1px;
  background-color: #D5D5D5;
  display: inline-block;
  vertical-align: middle;
}
.block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before {
  margin-right: 20px;
}
.block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
  margin-left: 20px;
}
.block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagebody {
  font-size: 24px;
  font-weight: 400;
  color: #6E9BCA;
}

@media (max-width: 1220px) {
  .block-system-main-block article[data-history-node-id="5"] {
    width: 900px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    position: relative;
    margin-bottom: 50px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before, .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    content: "";
    position: relative;
    top: 50%;
    width: 387px;
    height: 1px;
    background-color: #D5D5D5;
    display: inline-block;
    vertical-align: middle;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before {
    margin-right: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    margin-left: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagebody {
    font-size: 20px;
    font-weight: 400;
    color: #6E9BCA;
  }
}
@media (max-width: 900px) {
  .block-system-main-block article[data-history-node-id="5"] {
    width: 600px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span {
    font-size: 28;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    position: relative;
    margin-bottom: 40px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before, .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    content: "";
    position: relative;
    top: 50%;
    width: 237px;
    height: 1px;
    background-color: #D5D5D5;
    display: inline-block;
    vertical-align: middle;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before {
    margin-right: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    margin-left: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagebody {
    font-size: 18px;
    font-weight: 400;
    color: #6E9BCA;
  }
}
@media (max-width: 600px) {
  .block-system-main-block article[data-history-node-id="5"] {
    width: 300px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span {
    font-size: 24;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    position: relative;
    margin-bottom: 30px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before, .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    content: "";
    position: relative;
    top: 50%;
    width: 87px;
    height: 1px;
    background-color: #D5D5D5;
    display: inline-block;
    vertical-align: middle;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:before {
    margin-right: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagetitle span:after {
    margin-left: 20px;
  }
  .block-system-main-block article[data-history-node-id="5"] .node__content .layout--onecol .block-field-blocknodepagebody {
    font-size: 16px;
    font-weight: 400;
    color: #6E9BCA;
  }
}

/*# sourceMappingURL=about_page.css.map */
