.block-views-blocknews-block-block-1, .block-views-blocknews-block-block-2 {
  width: 100%;
}
.block-views-blocknews-block-block-1 h2, .block-views-blocknews-block-block-2 h2 {
  font-size: 28px;
  font-weight: bold;
  color: #373645;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: -2px;
}
.block-views-blocknews-block-block-1 h2:before, .block-views-blocknews-block-block-1 h2:after, .block-views-blocknews-block-block-2 h2:before, .block-views-blocknews-block-block-2 h2:after {
  content: "";
  position: relative;
  top: 50%;
  width: 552px;
  height: 1px;
  background-color: #D5D5D5;
  display: inline-block;
  vertical-align: middle;
}
.block-views-blocknews-block-block-1 h2:before, .block-views-blocknews-block-block-2 h2:before {
  margin-right: 20px;
}
.block-views-blocknews-block-block-1 h2:after, .block-views-blocknews-block-block-2 h2:after {
  margin-left: 20px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters, .block-views-blocknews-block-block-2 .view-news-block .view-filters {
  width: 1220px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form, .block-views-blocknews-block-block-2 .view-news-block .view-filters form {
  width: max-content;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline {
  display: flex;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-type-textfield, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-type-textfield {
  margin: 0;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-type-textfield label, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-type-textfield label {
  display: none;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-type-textfield .form-text, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-type-textfield .form-text {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 3px;
  width: 350px;
  height: 30px;
  margin-right: 5px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-wrapper, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-wrapper {
  margin: 0;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-wrapper .form-submit, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-wrapper .form-submit {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  height: 30px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #50B9E6;
  background-color: #50B9E6;
}
.block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-wrapper .form-submit:hover, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-wrapper .form-submit:hover {
  border: 1px solid #6E9BCA;
  background-color: #6E9BCA;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content, .block-views-blocknews-block-block-2 .view-news-block .view-content {
  margin-top: 20px;
  padding-bottom: 80px;
  margin-bottom: 30px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 20px 20px 20px 10px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field {
  height: max-content;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create p, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create p {
  margin: 0;
  text-align: center;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create p:first-child, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create p:first-child {
  font-size: 22px;
  line-height: 22px;
  font-size: 22px;
  font-weight: 400;
  color: black;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create p:nth-child(2), .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create p:nth-child(2) {
  line-height: 38px;
  font-size: 38px;
  font-weight: bold;
  color: #6E9BCA;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create p:last-child, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create p:last-child {
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #D5D5D5;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create {
  width: 75px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-team-image, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-team-image {
  padding-left: 20px;
  padding-right: 10px;
  border-left: 1px solid #D5D5D5;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-name, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-name {
  font-size: 12px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-name:before, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-name:before {
  content: "writer ";
  color: #D5D5D5;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-name:after, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-name:after {
  content: " / ";
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-position, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-position {
  font-size: 12px;
  font-weight: 400;
  color: #50B9E6;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-date-create-1, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-date-create-1 {
  margin-left: auto;
  font-size: 12px;
  font-weight: 400;
  color: #D5D5D5;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-title-1, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-title-1 {
  padding-left: 20px;
  border-left: 1px solid #D5D5D5;
  margin-top: 20px;
  margin-left: 75px;
  width: 100%;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-title-1 a, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-title-1 a {
  font-size: 24px;
  font-weight: 400;
  color: black;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-body, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-body {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: black;
  border-left: 1px solid #D5D5D5;
  margin-left: 75px;
  width: 100%;
  text-align: justify;
  letter-spacing: -1px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-view-node, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-view-node {
  padding-left: 20px;
  border-left: 1px solid #D5D5D5;
  width: 100%;
  padding-top: 10px;
  margin-left: 75px;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-view-node .field-content, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-view-node .field-content {
  margin-left: auto;
  margin-right: 0;
  background-color: #373645;
}
.block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-view-node .field-content:hover, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-view-node .field-content:hover {
  background-color: black;
}

@media (max-width: 1220px) {
  .block-views-blocknews-block-block-1 h2:before, .block-views-blocknews-block-block-1 h2:after, .block-views-blocknews-block-block-2 h2:before, .block-views-blocknews-block-block-2 h2:after {
    width: 390px;
  }
  .block-views-blocknews-block-block-1 .grid-view-2-col .view-content, .block-views-blocknews-block-block-2 .grid-view-2-col .view-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .block-views-blocknews-block-block-1 .grid-view-2-col .view-content .field--name-title, .block-views-blocknews-block-block-2 .grid-view-2-col .view-content .field--name-title {
    text-align: center;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-filters, .block-views-blocknews-block-block-2 .view-news-block .view-filters {
    width: 900px;
  }
}
@media (max-width: 900px) {
  .block-views-blocknews-block-block-1 h2, .block-views-blocknews-block-block-2 h2 {
    margin-bottom: 20px;
  }
  .block-views-blocknews-block-block-1 h2:before, .block-views-blocknews-block-block-1 h2:after, .block-views-blocknews-block-block-2 h2:before, .block-views-blocknews-block-block-2 h2:after {
    width: 240px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-filters, .block-views-blocknews-block-block-2 .view-news-block .view-filters {
    width: 600px;
  }
  .block-views-blocknews-block-block-1 .view-content .views-row .views-field-title-1, .block-views-blocknews-block-block-2 .view-content .views-row .views-field-title-1 {
    font-size: 20px;
  }
  .block-views-blocknews-block-block-1 .view-content .views-row .views-field-body, .block-views-blocknews-block-block-2 .view-content .views-row .views-field-body {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .block-views-blocknews-block-block-1 h2, .block-views-blocknews-block-block-2 h2 {
    margin-bottom: 10px;
  }
  .block-views-blocknews-block-block-1 h2:before, .block-views-blocknews-block-block-1 h2:after, .block-views-blocknews-block-block-2 h2:before, .block-views-blocknews-block-block-2 h2:after {
    width: 90px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-filters, .block-views-blocknews-block-block-2 .view-news-block .view-filters {
    width: 300px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-filters form, .block-views-blocknews-block-block-2 .view-news-block .view-filters form {
    width: 100%;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-filters form .form--inline .form-type-textfield .form-text, .block-views-blocknews-block-block-2 .view-news-block .view-filters form .form--inline .form-type-textfield .form-text {
    width: 220px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-content, .block-views-blocknews-block-block-2 .view-news-block .view-content {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row {
    padding: 10px;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-field-name, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-field-name {
    margin-top: 10px;
    width: 100%;
  }
  .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-title-1, .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-body, .block-views-blocknews-block-block-1 .view-news-block .view-content .views-row .views-field-view-node, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-title-1, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-body, .block-views-blocknews-block-block-2 .view-news-block .view-content .views-row .views-field-view-node {
    border: none;
    margin-left: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=news.css.map */
