.block-views-blockour-team-block-block-1, .block-views-blockour-team-block-block-2 {
  margin-bottom: 150px;
}
.block-views-blockour-team-block-block-1 h2, .block-views-blockour-team-block-block-2 h2 {
  font-size: 28px;
  font-weight: bold;
  color: #373645;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  position: relative;
  margin-bottom: 40px;
}
.block-views-blockour-team-block-block-1 h2:before, .block-views-blockour-team-block-block-1 h2:after, .block-views-blockour-team-block-block-2 h2:before, .block-views-blockour-team-block-block-2 h2:after {
  content: "";
  position: relative;
  top: 50%;
  width: 515px;
  height: 1px;
  background-color: #D5D5D5;
  display: inline-block;
  vertical-align: middle;
}
.block-views-blockour-team-block-block-1 h2:before, .block-views-blockour-team-block-block-2 h2:before {
  margin-right: 20px;
}
.block-views-blockour-team-block-block-1 h2:after, .block-views-blockour-team-block-block-2 h2:after {
  margin-left: 20px;
}
.block-views-blockour-team-block-block-1 .view-content, .block-views-blockour-team-block-block-2 .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.block-views-blockour-team-block-block-1 .view-content .views-row, .block-views-blockour-team-block-block-2 .view-content .views-row {
  text-align: center;
  max-width: 25%;
  background-color: #ffffff;
  text-transform: uppercase;
}
.block-views-blockour-team-block-block-1 .view-content .views-row:first-child, .block-views-blockour-team-block-block-2 .view-content .views-row:first-child {
  margin-left: 0;
}
.block-views-blockour-team-block-block-1 .view-content .views-row:last-child, .block-views-blockour-team-block-block-2 .view-content .views-row:last-child {
  margin-right: 0;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodetitle, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodetitle {
  margin-top: 20px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img {
  filter: grayscale(100%);
}
.block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img:hover, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img:hover {
  filter: none;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .field--name-title, .block-views-blockour-team-block-block-2 .view-content .views-row .field--name-title {
  font-size: 24px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .field--name-title a, .block-views-blockour-team-block-block-2 .view-content .views-row .field--name-title a {
  color: black;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .field--name-field-position, .block-views-blockour-team-block-block-2 .view-content .views-row .field--name-field-position {
  font-size: 12px;
  font-weight: 400;
  color: #D5D5D5;
  margin-bottom: 20px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .node__links, .block-views-blockour-team-block-block-2 .view-content .views-row .node__links {
  width: max-content;
  margin: 0 auto;
  background-color: #373645;
  padding: 8px 10px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .node__links:hover, .block-views-blockour-team-block-block-2 .view-content .views-row .node__links:hover {
  background-color: black;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .node__links a, .block-views-blockour-team-block-block-2 .view-content .views-row .node__links a {
  font-size: 0;
  font-weight: 400;
  color: white;
  font-size: 0;
  color: white;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .node__links a:before, .block-views-blockour-team-block-block-2 .view-content .views-row .node__links a:before {
  content: "Look at me";
  font-size: 16px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .layout--twocol-section--67-33, .block-views-blockour-team-block-block-2 .view-content .views-row .layout--twocol-section--67-33 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .layout--twocol-section--67-33 .layout__region--first, .block-views-blockour-team-block-block-2 .view-content .views-row .layout--twocol-section--67-33 .layout__region--first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .layout--twocol-section--67-33 .layout__region--second, .block-views-blockour-team-block-block-2 .view-content .views-row .layout--twocol-section--67-33 .layout__region--second {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-views-blockour-team-block-block-1 .view-content .views-row .layout--twocol-section--67-33 .layout__region--second .rating-option-result, .block-views-blockour-team-block-block-2 .view-content .views-row .layout--twocol-section--67-33 .layout__region--second .rating-option-result {
  display: none;
}

@media (max-width: 1220px) {
  .block-views-blockour-team-block-block-1 h2, .block-views-blockour-team-block-block-2 h2 {
    margin-bottom: 40px;
  }
  .block-views-blockour-team-block-block-1 h2:before, .block-views-blockour-team-block-block-1 h2:after, .block-views-blockour-team-block-block-2 h2:before, .block-views-blockour-team-block-block-2 h2:after {
    width: 352px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img {
    width: 200px;
    height: auto;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title {
    font-size: 20px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before, .block-views-blockour-team-block-block-2 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .block-views-blockour-team-block-block-1, .block-views-blockour-team-block-block-2 {
    margin-bottom: 30px;
  }
  .block-views-blockour-team-block-block-1 h2, .block-views-blockour-team-block-block-2 h2 {
    margin-bottom: 20px;
  }
  .block-views-blockour-team-block-block-1 h2:before, .block-views-blockour-team-block-block-1 h2:after, .block-views-blockour-team-block-block-2 h2:before, .block-views-blockour-team-block-block-2 h2:after {
    width: 202px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row, .block-views-blockour-team-block-block-2 .view-content .views-row {
    margin-bottom: 10px;
    max-width: 50%;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img {
    width: 280px;
    height: auto;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title {
    font-size: 18px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before, .block-views-blockour-team-block-block-2 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .block-views-blockour-team-block-block-1, .block-views-blockour-team-block-block-2 {
    margin-bottom: 20px;
  }
  .block-views-blockour-team-block-block-1 h2, .block-views-blockour-team-block-block-2 h2 {
    margin-bottom: 20px;
  }
  .block-views-blockour-team-block-block-1 h2:before, .block-views-blockour-team-block-block-1 h2:after, .block-views-blockour-team-block-block-2 h2:before, .block-views-blockour-team-block-block-2 h2:after {
    width: 52px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row, .block-views-blockour-team-block-block-2 .view-content .views-row {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodefield-team-image img {
    width: 280px;
    height: auto;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title, .block-views-blockour-team-block-block-2 .view-content .views-row .block-field-blocknodeteam-nodetitle .field--name-title {
    font-size: 16px;
  }
  .block-views-blockour-team-block-block-1 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before, .block-views-blockour-team-block-block-2 .view-content .views-row .block-extra-field-blocknodeteam-nodelinks a:before {
    font-size: 12px;
  }
}

/*# sourceMappingURL=team.css.map */
