@import "../variable";
@import "../mixin";

//contact style

.block-system-main-block {

  article[data-history-node-id="13"] {
    max-width: $desktop;
    margin: 0 auto;
    .node__content {
      margin-bottom: 75px;
      .layout-- {
        &onecol {
          .block-field-blocknodepagetitle {
            text-align: center;
            // title page
            .field--name-title {
              @include textFormat($font_page_title, bold, black);
              text-transform: uppercase;
              position: relative;
              padding-bottom: 10px;
              display: inline-block;

              &:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 60px;
                height: 4px;
                background-color: $gray;
                display: block;
                bottom: 0;
              }
            }

            margin-bottom: 40px;
          }
        }

        &twocol-section--50-50 {
          flex-wrap: nowrap;
          width: max-content;
          margin: 0 auto;

          .layout__region- {
            // feedback form style
            &-first {
              margin-right: 20px;

              .block-webform-block {
                width: max-content;

                form {
                  max-width: max-content;

                  & > div {
                    // input style
                    input {
                      padding: 10px;
                      width: 462px;
                      height: 53px;
                      margin-bottom: 15px;
                    }

                    textarea {
                      padding: 10px;
                      width: 462px;
                      margin-bottom: 15px;
                    }
                    // button style
                    .form-submit {
                      text-transform: uppercase;
                      max-width: 190px;
                      height: 60px;
                      background-color: #E33012;
                      color: white;
                      border: 0 solid black;
                      border-radius: 3px;
                      font-weight: 600;
                    }

                    max-width: max-content;
                    margin: 0;
                  }
                }
              }
            }

            // address and map style
            &-second {
              font-size: 14px;
              line-height: 24px;
              // address lines style
              .block-inline-blockoffice-addres {
                h2 {
                  text-transform: uppercase;
                  @include textFormat(16px, bold, black);
                  margin: 0;
                }

                p {
                  margin-bottom: 0;
                }
                 a{
                   color: black;
                 }
                .address {
                  display: flex;
                  flex-wrap: wrap;
                  width: 460px;

                  & > span:after {
                    content: "\00a0";
                  }

                  span:first-child:after, span:nth-child(7):after {
                    content: ",\00a0";
                  }

                  .address-line2 {
                    flex: 70%;
                  }
                }
              }
              .field--name-field-contact-info {
                p:last-child {
                  margin-bottom: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
  .webform-confirmation{
    margin-top: 50px;
    text-align: center;
    & div:first-child{
      @include textFormat(24px, bold, $footerColor);
    }
    & div:last-child{
      a{
        background-color: $titleColor;
        padding: 10px 15px;
        color: white;
        &:hover{
          background-color: $color_drupal;
        }
      }
    }
  }
}

@media(max-width: $smallDesktop + 50px) {
  .block-system-main-block {
    article[data-history-node-id="13"] {
      width: max-content;
      .node__content {
        .layout-- {
          &twocol-section--50-50 {
            flex-wrap: wrap;
            max-width: $table;

            .layout__region-- {
              &first, &second {
                max-width: 100%;
                margin: 0 auto;
                width: auto;
              }

            }
          }

        }
      }
    }
  }
}

@media(max-width: $table) {
  .block-system-main-block {
    article[data-history-node-id="13"] {
      width: 100%;
      .node__content {
        width: 100%;

        .layout-- {
          &twocol-section--50-50 {
            flex-wrap: wrap;
            width: 100%;

            .layout__region-- {
              &first, &second {
                margin: 0 auto;
                width: $phone;
              }

              &first {
                input, textarea {
                  max-width: $phone;
                }

                .form-wrapper {
                  max-width: $phone;
                  margin: 0 auto !important;
                }
              }

              &second {
                .block-inline-blockoffice-addres {
                  h2 {
                    margin-top: 10px;
                  }

                  .address {
                    width: $phone;

                    .address-line2 {
                      flex: 50%;
                    }
                  }
                }

                iframe {
                  width: 300px;
                  height: auto;
                }
              }
            }
          }
        }

      }
    }
  }
}
