@import "../variable";
@import "../mixin";

// services style

.block-views-block {
  &services-block-block-1, &services-block-block-2 {
    h2 {
      @include textFormat(28px, bold, $footerColor);
      @include titleBlock(75px, 20px, $desktop, 89px, $gray);
    }

    .view-content {
      display: flex;
      flex-wrap: wrap;

      .views-row {
        padding: 15px 20px;
        text-align: center;
        max-width: 25%;
        .views-field {
          text-transform: uppercase;
          // image style
          &-field-images {
            margin-bottom: 30px;
          }
          // title style
          &-title {
            margin-bottom: 10px;

            a {
              color: black;
            }
          }
          // body style
          &-body {
            @include textFormat($fontS, 400, $gray);
            line-height: 12px;
            letter-spacing: 0;
            margin-bottom: 30px;
          }
        }
      }
    }

    margin-bottom: 75px;
  }
}

// services on taxonomy term page
.view-taxonomy-term{
  .view-content {
    display: flex;
    flex-wrap: wrap;

    .views-row {
      padding: 15px;
      text-align: center;
      max-width: 25%;

      .views-field {
        text-transform: uppercase;

        &-field-images {
          margin-bottom: 30px;
        }

        &-title {
          margin-bottom: 10px;

          a {
            color: black;
          }
        }

        &-body {
          @include textFormat($fontS, 400, $gray);
          line-height: 12px;
          letter-spacing: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media(max-width: $desktop) {
  .block-views-block {
    &services-block-block-1, &services-block-block-2 {
      h2 {
        margin-bottom: 40px;

        &:before, &:after {
          width: calc(($smallDesktop / 2) - 90px);
        }
      }
    }
  }
}

@media(max-width: $smallDesktop) {
  .block-views-block {
    &services-block-block-1, &services-block-block-2 {
      h2 {
        margin-bottom: 20px;

        &:before, &:after {
          width: calc(($table / 2) - 90px);
        }
      }

      .view-content {
        .views-row {
          max-width: 50%;
        }
      }

      margin-bottom: 30px;
    }
  }
  .view-taxonomy-term{
    .view-content {
      .views-row {
        max-width: 50%;
      }
    }
  }
}

@media(max-width: $table) {
  .block-views-block {
    &services-block-block-1, &services-block-block-2 {
      h2 {
        margin-bottom: 10px;

        &:before, &:after {
          width: calc(($phone / 2) - 90px);
        }
      }

      .view-content {
        .views-row {
          max-width: 100%;
        }
      }

      margin-bottom: 20px;
    }
  }

  .view-taxonomy-term{
    .view-content {
      .views-row {
        max-width: 100%;
      }
    }
  }
}
